[submodule "gow"]
	path = gow
	url = https://github.com/Thrane20/gow.git
	branch = nosunshine
[submodule "wolf"]
	path = wolf
	url = git@github.com:Thrane20/wolf.git
[submodule "thirdparty/wlroots"]
	path = thirdparty/wlroots
	url = https://github.com/swaywm/wlroots
