[submodule "third_party/gow"]
	path = third_party/gow
	url = https://github.com/Thrane20/gow
[submodule "third_party/wolf"]
	path = third_party/wolf
	url = https://github.com/Thrane20/wolf
[submodule "third_party/gst-wayland-display"]
	path = third_party/gst-wayland-display
	url = https://github.com/thrane20/gst-wayland-display
